.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    width: 100%;
  }

  .bold {
    font-weight:bold;
  }
  #btn{
    justify-content: center;
    display: flex;
  }