div img{
   width: 180px;
    height: 60px;
    margin-top: 8%;
    
}
#consulta{
    margin-left: 60%;
    font-family: DMSans,sans-serif;
    color: #002f3a;
    font-size: 1.3rem;
    text-transform: uppercase;
    
}